/* table and href stuff */

* { font-size: 12px; font-family: Verdana; }
a#currentTab { border-bottom:1px solid #fff; }
a { color: black; text-decoration:none; padding:5px; border: 1px solid #aaa; }
a:hover { background: #ccc; }
table { background: white; width: auto;}
td { border: 1px solid #ccc; padding: 3px; }
th { border: 1px solid #ccc; padding: 3px; background: #009999; color: white; }
.navigator { border-bottom:1px solid #aaa; width:900px; padding:5px; background: white; }


/* background and form box stuff */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body { background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-4777.jpg"); }
.login-page { width: 360px; padding: 8% 0 0; margin: auto; }
.form { position: relative; z-index: 1; background: #FFFFFF; max-width: 360px; margin: 0 auto 100px; padding: 45px; text-align: center; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 3px 5px 5px 3px rgba(0, 0, 0, 0.24); }
.form input { font-family: "Roboto", sans-serif; outline: 0; width: 100%; border: 1; margin: 0 0 15px; padding: ; box-sizing: border-box; font-size: 14px; }
.form select { font-family: "Roboto", sans-serif; outline: 0; width: 100%; border: 1; margin: 0 0 15px; padding: ; box-sizing: border-box; font-size: 14px; }
.form button { font-family: "Roboto", sans-serif; text-transform: uppercase; outline: 0; background: #F31417; width: 100%; border: 0; padding: 15px; color: #FFFFFF; font-size: 14px; transition: all .2s ease-in-out; }
.form button:hover,.form button:active,.form button:focus { background: #b30000; }
.form .message { font-family: "Roboto", sans-serif; margin: 15px 0 0; color: #b3b3b3; font-size: 12px; }
.form .message a { font-family: "Roboto", sans-serif; color: #F31417; text-decoration: none; }


.formwide { position: relative; z-index: 1; background: #FFFFFF; max-width: 560px; margin: 0 auto 20px; padding: 45px; text-align: center; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 3px 5px 5px 3px rgba(0, 0, 0, 0.24); }
.formwide table { background: white; width: 560px;}
.formwide input { font-family: "Roboto", sans-serif; outline: 0; width: 100%; border: 1; margin: 0 0 15px; padding: ; box-sizing: border-box; font-size: 14px; }
.formwide select { font-family: "Roboto", sans-serif; outline: 0; width: 100%; border: 1; margin: 0 0 15px; padding: ; box-sizing: border-box; font-size: 14px; }
.formwide button { font-family: "Roboto", sans-serif; text-transform: uppercase; outline: 0; background: #F31417; width: 100%; border: 0; padding: 15px; color: #FFFFFF; font-size: 14px; transition: all .2s ease-in-out; }
.formwide button:hover,.form button:active,.form button:focus { background: #b30000; }
.formwide .message { font-family: "Roboto", sans-serif; margin: 15px 0 0; color: #b3b3b3; font-size: 12px; }
.formwide .message a { font-family: "Roboto", sans-serif; color: #F31417; text-decoration: none; }
